.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input {
    padding: 8px;
    width: 200px;
}

.chip-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.chipStyle {
    margin-top: 20px;
    background-color: #e2e2e2;
    padding: 10px;
    border-radius: 20px;
}

.delete {
    color: red;
    margin-left: 8px;
    border: none;
    background: none;
    cursor: pointer;
}